.root {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  $border: 0.05rem solid var(--light-theme-color);
  $radius: 1.5rem;

  .navigation-container {
    border-radius: 0 $radius $radius $radius;
    width: 15rem;
    background-color: var(--theme-color);
    border-top: $border;

    .navigation-frame {
      padding: 1rem 1rem 0 1rem;
      box-sizing: border-box;
      height: 100%;
      border-radius: $radius;
      border: $border;
    }
  }

  .left-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .top-container {
      padding: 1rem 5rem 1rem 2rem;
      border: $border;
      border-radius: $radius 0 0 $radius;
      border-right: none;
      background-color: var(--theme-color);
    }

    .outlet-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }

  button,
  input,
  select {
    outline: none;
    border: none;
  }
}