.prompt {
  $upper: -2rem;
  $bottom: 5rem;
  position: fixed;
  left: 50%;
  top: $upper;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  animation: none;

  &.enter {
    animation: enter 1s ease forwards;
  }
  &.display {
    top: 5rem;
  }
  &.leave {
    animation: leave 1s ease forwards;
  }

  @keyframes enter {
    from {
      opacity: 0.5;
      top: $upper;
    }
    to {
      top: $bottom;
    }
  }

  @keyframes leave {
    from {
      top: $bottom;
    }
    to {
      opacity: 0;
      top: $upper;
    }
  }

  &.success {
    background-color: var(--active-color);
  }
  &.error {
    background-color: var(--warning-color);
  }

  .message {
    font-size: 1.5rem;
    color: var(--theme-color);
  }

  .timer {
    border-radius: 50%;
    $size: 2rem;
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    &.success {
      background-color: var(--secondary-color);
      color: var(--theme-color);
    }
    &.error {
      background-color: var(--secondary-color);
      color: var(--theme-color);
    }
  }
}
