.market {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem;
  margin-bottom: 0;
  padding-left: 2rem;
  box-sizing: border-box;
  gap: 1rem;
  direction: rtl;
  overflow: auto;
  border-radius: var(--card-radius);

  .product-container {
    animation: animate 0.75s ease forwards;
    opacity: 0;
  }

  @keyframes animate {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
