.profile {
    height: 100%;
    padding: 2rem;
    padding-bottom: 0;
    box-sizing: border-box;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;

    .user-section {
        grid-row: span 2;
        background-color: var(--theme-color);
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;

        .credits {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 1rem;
            background-color: var(--light-secondary-color);
            border-radius: .5rem;
            gap: 1rem;

            .my-credits {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: right;
                gap: .5rem;

                header {
                    width: 100%;
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                .description {
                    color: var(--font-primary-color);
                }
            }

            .credit-count {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                $size: 3rem;
                width: $size !important;
                height: $size;
                font-size: 1.25rem;
                font-weight: 600;
                color: var(--active-color);
                background-color: var(--theme-color);
                border: .3rem solid var(--active-color);
            }
        }

        .user {
            margin-top: 1rem;
            flex: .7;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            gap: .5rem;

            .profile-icon {
                font-size: 10rem;
                color: var(--font-light-color);
            }

            .title {
                font-size: 1.75rem;
                font-weight: 500;
            }
        }
    }

    .information {
        grid-column: span 2;
        background-color: var(--theme-color);
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-end;
        justify-content: center;
        padding: 0 3rem;

        .entry {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 10rem;
            text-align: right;
            padding: .5rem 0;
            box-sizing: border-box;
            border-bottom: 1px solid var(--font-light-color);

            header {
                font-weight: 600;
            }

            input {
                text-align: right;
                color: var(--font-primary-color);
            }
        }

        .edit-btn {
            cursor: pointer;
            transition: .6s;
            border-radius: .35rem;
            padding: .35rem 1rem;
            display: flex;
            margin-top: 1rem;
            align-items: center;
            font-weight: 500;
            font-size: 1.2rem;
            gap: 1rem;

            &:hover {
                background-color: var(--active-color);
                color: var(--theme-color);

            }
        }
    }
}