.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-primary-color);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  direction: rtl;
  z-index: 1;
  .popup {
    border-radius: 0.75rem;
    border-color: var(--primary-color);
    border-width: 0.125rem;
    border-style: solid;
    padding: 1rem;
    padding-left: 1rem;
    overflow: auto;
    max-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 5rem 0.1rem var(--theme-color);
    &.dark {
      background-color: var(--light-secondary-color);
    }
    &.light {
      background-color: var(--theme-color);
    }
  }
}
