.admin-panel {
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 1rem;
  padding-bottom: 0;
  box-sizing: border-box;
  gap: 1rem;
  overflow: auto;

  .manage-container {
    border: var(--card-border);
    border-radius: var(--card-radius);
    background-color: var(--theme-color);

    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    align-items: flex-end;
    gap: 1rem;
    overflow: auto;
    .user-entry {
      background-color: var(--second-color);
    }
  }
}
