html {
  --warning-color: crimson;
  --active-color: #4173f9;
  --primary-color: #f5f7ff;
  --light-primary-color: #e5e5e5a2;
  --secondary-color: #ccddff87;
  --theme-color: #fff;
  --font-primary-color: #7c879c;
  --font-light-color: #7c879c86;
}

body {
  font-size: calc(0.85vw + 0.5vh);
  margin: 0;
  background-color: var(--primary-color);

  * {
    font-family: "Rubik", sans-serif !important;
    animation: .4s fade-in linear;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/static/Rubik-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/static/Rubik-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/static/Rubik-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/static/Rubik-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/static/Rubik-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/static/Rubik-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/static/Rubik-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
