.about-us{
    padding: 3rem;
    box-sizing: border-box;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--font-primary-color);
    gap: 2.5rem;

    .title{
        font-size: 1.75rem;
        font-weight: 700;
    }

    p{
        font-size: 1.25rem;
        margin: 0;
        max-width: 70vw;
    }
}